.add-product{
    margin-top: 13vh;
    background-color: var(--darkGreen);
    padding: 20px;
    border-radius: 10px;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
    
}

.product-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.product-form input,.product-form textarea,.product-form select{
    padding: 20px;
    background-color: transparent;
    color: var(--green);
    margin-bottom: 20px;
    border: 1px solid var(--lightgreen);
    font-family: 'Kanit', sans-serif;
    font-size: 1.05rem;
}

.product-form input,.product-form select{
    width: 48%;
}

.product-form textarea{
    width: 100%;
}

.product-form button{
    width: 100%;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #84a98c;
    color: white;
    transition: 0.3s all ease-in;
}

.product-form button:hover{
    background-color: #415a77;
    color: var(--green);
}


/* single user */

