.wrapper{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 8px;
    margin-top: 13vh;
}

.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 85vh;
    overflow: scroll;
}

.main::-webkit-scrollbar{
    display: none;
}

.main .card-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card{
    display: flex;
    background-color: var(--darkGreen);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s all ease-out;
}

.card:hover{
    background-color: var(--lightgreen);
    color: white;
}

.card .data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .data p{
    font-size: 1rem;
}

.card .data h3{
    font-size: 1.3rem;
    font-weight: 500;
}

.card .data span{
    color: gray;
    font-size: 1rem;
}

.card .data span .Success{
    color: green;
    font-weight: 800;
}

.card .data span .failed{
    color: red;
}


.right{
    flex: 1;
}