.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--darkGreen);
    margin: 8px 6px;
    border-radius: 10px;
}

.footer .logo{
    font-weight: bold;
}

.footer .credits{
    font-size: 12px;
}