@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

::placeholder{
    color: var(--green);
}

.login-container .login-form{
    background-color: var(--middlegreen);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.login-container .login-form input{
    padding: 20px;
    border: 1px solid var(--lightgreen);
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    outline: none;
    color: var(--green);
}

.login-container .login-form .login-btn{
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.4rem;
    color: var(--middlegreen);
    transition: 0.2s all ease-in;
    border: none;
    outline: none;
}

.login-container .login-form .login-btn:hover{
    background-color: #415a77;
    color: var(--green);
}

.login-container .login-form h1{
   text-align: center;
}

.login-container .register-link{
    text-align: center;
    transition: 0.2s all ease-in;
}

.login-container .register-link a:hover{
    color: var(--middlegreen);
    text-decoration: underline;
}