.products{
    margin-top: 13vh;
    background-color: var(--darkGreen);
    padding: 20px;
    border-radius: 10px;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}

.products .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.products .searches {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--middlegreen);
}

.products .searches input {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--middlegreen);
    color: var(--green) !important;
    font-size: 1rem;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
}

.products .top .addButton {
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: #84a98c;
    color: white;
    transition: 0.3s all ease-in;
}

.products .top .addButton:hover {
    background-color: #415a77;
    color: var(--green);
}

.products table {
    width: 100%;

}

.products table td {
    padding: 10px;
}

.products table td .product {
    display: flex;
    align-items: center;
    gap: 8px;
}

.products table td .product .product-image {
    border-radius: 50%;
    object-fit: cover;
}

.products table td .update {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products table td .update button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;

}

.add-btn {
    background-color: green;
}

.del-btn {
    background-color: red;
}

.pagination {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.pagination .page-btn {
    padding: 5px 10px;
    cursor: pointer;
}

.page-btn button:disabled {
    cursor: not-allowed;

}