

.right .item{
    position: relative;
    background-color: var(--darkGreen);
    background: linear-gradient(to top, #52796f, #354f52);
    padding: 15px 24px;
    width: 270px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.right .item .bgcontainer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 60%;
}

.bg{
    object-fit: cover;
    opacity: 0.2;
}

.right .item .context{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right .item .context p{
    font-size: 0.8rem;
    font-weight: 800;
}

.right .item .context h4{
    font-size: 1rem;
}

.right .item .context h6{
    color: white;
    font-size: 0.9rem;
}

.right .item .context .watch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 0.1rem;
    margin-left: 4px;
    width: 28%;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 0.7rem;
    border: none;
    outline: none;
    background-color: #84a98c;
    color: white;
    transition: 0.3s all ease-in;
}

.right .item .context .watch:hover{
    background-color: #415a77;
    color: var(--green);
}

