.transaction{
    background-color: var(--darkGreen);
    padding: 20px;
    border-radius: 10px;
}

.transaction h2{
    margin-bottom: 20px;
    font-weight: 200;
    color: white;
}

.transaction table{
    width: 100%;
}

.transaction table td{
    padding: 10px;
}

.transaction table td .user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.transaction table .status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.done{
   background-color: #054A91;
}

.pending{
    background-color: #9F4A54;
}

.success{
    background-color: #139A43;
}

.user-image{
    border-radius: 50%;
}